*.a
*.o
*.so
*.lo
*.la
*.log
*.trs
*~
*.libs
*.in
*.m4
*Makefile
*Makefile.in
*.deps
*.dirstamp
aclocal.m4
ar-lib
autom4te.cache/
autoscan.log
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.ac.bak
configure.scan
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
msolve.pc
/msolve
test-driver
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.out
*.pdf
*.run.xml
*.toc
fglm_build_matrixn_nonradical-radicalshape-31
fglm_build_matrixn_nonradical-shape-31
fglm_build_matrixn_radical-shape-31
line_endings_support
neogb_io
msolve-*.tar.gz
msolve-*/
