*.a
*.o
*.so
*~
Makefile
Makefile.am~
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
autoscan.log
compile
config.guess
config.guess~
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
config.sub~
configure
configure.ac.bak
configure.ac~
configure.scan
configure~
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/fglm/.deps/
src/fglm/Makefile.in
src/msolve/.deps/
src/msolve/Makefile.am~
src/msolve/Makefile.in
src/msolve/Makefile~
src/neogb/.deps/
src/neogb/Makefile.am~
src/neogb/Makefile.in
src/usolve/.deps/
src/usolve/Makefile.am~
src/usolve/Makefile.in
src/usolve/usolve.lo
stamp-h1
src/msolve/msolve
